body{
    background-color: #e5e5e5;
}
.topBar{
    width: 100vw;
    height: 80px;
    background-color: #fff;
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);  
}
.chat{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;

    
}
.message{
    display: flex;
    background-color: #dcdcdc;
    height: 40px;
    align-items: center;
}
.time{
    padding-right: 10px;
    padding-left: 10px;
}
.innerBar{
    font-size: 42px;
    width: 88vw;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .bottomBar{
    
    height: 80px;
    position: fixed;
    background-color: #fff;
    right: 0px;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
 }
 .bottomBar ion-icon{
    font-size: 26px;

 }

.innerBar input::-webkit-input-placeholder{
    font-family:'Roboto';
    font-weight: 400;
    font-style: italic;
    font-size:18px;
    color:#000000;
  }
